<!--Header param gets changed depending if its a get or post request -->
<fieldset>
    <legend>Add to Database</legend>
    <label for "name">Name:</label>
    <input type="text" id="name" name="name">
    <br>
    
    <label for "reps">Reps:</label>
    <input type="text" id="reps" name="reps"><br>
    <br>
    
    <label for "weight">Weight:</label>
    <input type="text" id="weight" name="weight"><br>
    <br>
    
    <label for "date">Date:</label>
    <input type="text" id="date" name="date"><br>
    <br>
    
    <label for "unit">Unit:</label>
    <input type="text" id="unit" name="unit"><br>
    <br>
    
    <button type="button">Submit data</button>
</fieldset>

<table>
{{{each tableEntry}}}
    <tr>
        <td>{{{this.name}}}</td>
        <td>{{{this.reps}}}</td>
        <td>{{{this.weight}}}</td>
        <td>{{{this.date}}}</td>
        <td>{{{this.unit}}}</td>
        <td>
            <button type="button" onclick="return tableEdit(tableEntry)">Edit data</button>
        </td>
        <td>
            <button type="button" onclick="return tableDelete(tableEntry)">Delete data</button>
        </td>
    </tr>
{{{endif}}}
</table>